@font-face {
    font-family: StratosSkyeng;
    src: url('./statosskyeng-v1.001/WebFonts/stratosskyengweb-regular.woff2')
            format('woff2'),
        url('./statosskyeng-v1.001/WebFonts/stratosskyengweb-regular.woff2')
            format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #004980;
    font-family: StratosSkyeng, Arial, sans-serif;
}

.section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
}

.selectorActiveBorder {
    outline: 4px solid #004980;
    outline-offset: -4px;
}

.section_selectors {
    display: flex;
    gap: 24px;
    flex-direction: row;
    padding-top: 48px;
    padding-bottom: 68px;
    color: #0080c1;
    font-family: StratosSkyeng, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.section_selector {
    background: #fff;
    border-radius: 12px;
    width: 98px;
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section_selector:hover {
    cursor: pointer;
}

.section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
}

.section {
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    margin-left: calc(50% - 240px);
    margin-right: calc(50% - 240px);
    margin-top: 140px;
}

.sectionButton {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    color: white;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.sectionButton:hover {
    cursor: pointer;
}

.dots {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    position: absolute;
    justify-content: space-around;
    margin-left: calc(50% - 240px);
    margin-right: calc(50% - 240px);
    margin-top: 140px;
    z-index: 100;
}

.modalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* stylelint-disable */
    background-color: rgba(0, 0, 0, 40%);
    /* stylelint-enable */
}

.winModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winImg {
    margin-bottom: 4px;
}

.modalText {
    font-family: StratosSkyeng, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    margin-bottom: 28px;
}

.secondModalText {
    width: 230px;
    height: 32px;
    font-family: StratosSkyeng, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    margin-bottom: 10px;
}

.modalTimer {
    width: 155px;
    height: 72px;
    font-family: StratosSkyeng, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.game_topContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 975px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 18px;
    align-items: center;
}

.game_table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: fit-content;
    margin: auto;
    justify-items: center;
    grid-area: auto;
}

.game_topContent-button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.game_topContent-button:hover {
    cursor: pointer;
}

.modal-button {
    width: 246px;
    height: 50px;
    background: #7ac100;
    border-radius: 12px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}

.modal-button:hover {
    cursor: pointer;
}

.attemptsText {
    font-family: StratosSkyeng, Arial, sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.hidden {
    display: none;
}

.identical {
    outline: 3px solid #7ac100;
    outline-offset: -1px;
}

.card {
    cursor: pointer;
}

.game_topContent-timer {
    display: flex;
    align-items: center;
    width: 155px;
    height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #fff;
}
